<template>
  <div class="container f-c-c">
    <div class="water-card" :style="{'--top': top,'--right': right, '--bottom': bottom, '--left': left}" />
  </div>
</template>
<script>
  export default {
    name: 'WaterDrop',
    data() {
      return {
        top: 51,
        right: 45,
        bottom: 79,
        left: 34
      }
    },
    created() {
      const timer = setInterval(() => {
        this.floatRadio()
      }, 5000)
      this.$once('hook:beforeDestroy', () => {
        clearInterval(timer)
      })
    },
    methods: {
      floatRadio() {
        const randomNum = () => Math.floor(Math.random() * 60 + 20)
        this.top =randomNum()
        this.right =randomNum()
        this.bottom =randomNum()
        this.left =randomNum()
      }
    }
  }
</script>

<style lang="scss" scoped>
  .container {
    width: 100vw;
    height: 100vh;
    background: #F8F8F8;
    .water-card {
      position: relative;
      width: 600px;
      height: 600px;
      box-shadow: inset 20px 20px 20px rgba(0,0,0,0.05),
      25px 35px 20px rgba(0,0,0,.05),
      25px 30px 30px rgba(0,0,0,.05),
      inset -20px -20px 25px rgba(255,255,255,.9),;
      // background: #c00;
      border-radius:
      calc(var(--top) * 1%)  calc((100 - var(--top)) * 1%) calc(var(--bottom) * 1%)  calc((100 - var(--bottom)) * 1%)
      / calc(var(--left) * 1%)  calc((100 - var(--right)) * 1%) calc(var(--right) * 1%)  calc((100 - var(--left)) * 1%) ;
      transition:  border-radius 3s;
      &:before {
        content: '';
        position: absolute;
        top: calc(var(--top) * 1% / 2);
        left: calc(var(--left) * 1% / 2);
        // top: calc(var(--top) * 1%);
        // left: calc(var(--left) * 1% + 20px);
        width: calc(var(--top) * 1px);
        height: calc(var(--top) * 1px);
        border-radius: 50%;
        background: #fff;
        transition:  all 3s;

      }
    }
  }
</style>