<template>
  <div class="container">
    <!-- 参考网站：https://codepen.io/simeydotme/pen/PrQKgo -->
    <base-card />

    <div class="card_1" :style="card_1_style">
      <img src="./imgs/card_1.png" class="card_img" width="660" height="921" />
      <div class="card_shine" />
      <!-- <div class="card_glare" /> -->
    </div>
  </div>
</template>
<script>
import BaseCard from './modules/BaseCard'

function calculateCirclePoint(angle) {
  const radius = 1 // 半径为1
  const x = radius * Math.cos(angle)
  const y = radius * Math.sin(angle)
  return { x, y }
}

function animateCircle(cb = () => {}) {
  const totalFrames = 360 // 一圈有360帧
  const delayBetweenFrames = 10 // 每帧之间的延迟时间（毫秒）

  let currentFrame = 0
  let times = 1

  function drawFrame() {
    const angle = (currentFrame * 2 * Math.PI) / totalFrames // 计算当前角度（弧度）
    const point = calculateCirclePoint(angle)

    // 在这里，您可以将点的坐标用于动画或其他操作
    cb({
      x: point.x / 2 + 0.5,
      y: point.y / 2 + 0.5,
    })

    currentFrame++

    if (currentFrame < totalFrames) {
      setTimeout(drawFrame, delayBetweenFrames)
    } else if (times > 10) {
      return
    } else {
      currentFrame = 0
      times++
      setTimeout(drawFrame, delayBetweenFrames)
    }
  }

  drawFrame()
}

export default {
  name: 'FlashCard',
  components: { BaseCard },
  data() {
    return {
      card_1: {
        x: 0.5,
        y: 0.5,
      },
    }
  },
  computed: {
    card_1_style() {
      const {
        card_1: { x, y },
      } = this
      const percentFun = (a) => `${a * 100}%`
      return {
        '--x': percentFun(x),
        '--y': percentFun(y),
      }
    },
  },
  created() {
    const cbFun = (point) => {
      this.card_1 = point
    }
    animateCircle(cbFun)
  },
  methods: {},
}
</script>

<style lang="scss" scoped>
// @import url('./var.scss');
@import 'var';


.container {
  width: 100vw;
  height: 100vh;
  background: #f8f8f8;
  border-radius: $border-radius;
  .card_1 {
    $width: 300px;
    @include grid-card();
    width: $width;
    background: rgb(0, 0, 0);
    aspect-ratio: 0.78;
    .card_img {
      @include grid-card();
      width: 100%;
      height: auto;
    }
    .card_shine {
      @include grid-card();
      width: $width;

      background-image: linear-gradient(-45deg, $color_1, $color_5), $glitter,
        $color_mixin;
      background-blend-mode: luminosity, soft-light;
      background-size: 200% 200%, 25% 25%, 400% 400%;
      filter: brightness(0.75) contrast(2) saturate(1);
      mask-image: $foil;
      mask-size: cover;
      mask-position: center center;
      opacity: 0.1;
      &:before {
        @include grid-card();
        content: '';
        background-image: $mask;
        background-size: $imgsize;
        background-position: center center;
        filter: brightness(2.5) contrast(1);
        opacity: 0.6;
        mix-blend-mode: multiply;
        background-blend-mode: hard-light, multiply;
      }
      &:after {
        @include grid-card();
        content: '';
        background-image: $foil;
        background-size: $imgsize;
        background-position: center center;
        filter: brightness(2.5) contrast(1);
        opacity: 0.6;
        mix-blend-mode: exclusion;
        background-blend-mode: soft-light;
      }
    }
    .card_glare {
      @include grid-card();
      width: 100%;
      background-image: radial-gradient(
        farthest-corner circle at var(--x) var(--y),
        hsl(0, 0%, 80%),
        hsla(0, 0%, 74.9%, 0.25) 30%,
        hsl(0, 0%, 21.6%) 130%
      );
      filter: brightness(0.9) contrast(2);
      opacity: 0.6;
      mix-blend-mode: hard-light;
    }
  }
}

@keyframes mask_before {
  0%,
  100% {
  }
}
</style>
