$border-radius: 4.55% / 3.5%;
$width: 300px;
$mask: url('@/views/FlashCard/imgs/card_1_mask.webp');
$foil: url('@/views/FlashCard/imgs/card_1_foil.webp');
$sparkles: url('@/views/FlashCard/imgs/sparkles.gif');
$grain_1: url('@/views/FlashCard/imgs/grain_1.svg');
$grain_2: url('@/views/FlashCard/imgs/grain_2.svg');
$glitter: url('@/views/FlashCard/imgs/glitter.png');
$imgsize: cover;
$color_1: hsl(0, 57%, 37%);
$color_2: hsl(40, 53%, 39%);
$color_3: hsl(90, 60%, 35%);
$color_4: hsl(180, 60%, 35%);
$color_5: hsl(180, 60%, 35%);
$color_6: hsl(210, 57%, 39%);
$color_7: hsl(280, 55%, 31%);
$color_mixin: linear-gradient(
  -30deg,
  $color_1,
  $color_2,
  $color_3,
  $color_4,
  $color_5,
  $color_6,
  $color_7,
  $color_1,
  $color_2,
  $color_3,
  $color_4,
  $color_5,
  $color_6,
  $color_7,
  $color_1,
  $color_2,
  $color_3,
  $color_4,
  $color_5,
  $color_6,
  $color_7,
  $color_1
);
$sparkles-color:linear-gradient(125deg, #ff008450 15%, #fca40040 30%, #ffff0030 40%, #00ff8a20 60%, #00cfff40 70%, #cc4cfa50 85%);



@mixin grid-card {
  display: grid;
  grid-area: 1/1;
}