<template>
  <div class="card-box f-c-c">
    <div
      class="card"
      :style="card_1"
      @mousemove="(e) => handleMouseMove(e, 'base')"
      @mouseout="(e) => handleMouseOut(e, 'base')"
    />
    <!-- 梯度光影 -->
    <div
      class="card card_gradient"
      :style="card_2"
      @mousemove="(e) => handleMouseMove(e, 'gradient')"
      @mouseout="(e) => handleMouseOut(e, 'gradient')"
    />
    <!-- 闪卡闪烁 -->
    <div
      class="card card_sparkles"
      :style="card_3"
      @mousemove="(e) => handleMouseMove(e, 'sparkles')"
      @mouseout="(e) => handleMouseOut(e, 'sparkles')"
    />

    <!-- 整合 -->
    <div
      class="card card_demo"
      :style="card_4"
      @mousemove="(e) => handleMouseMove(e, 'demo')"
      @mouseout="(e) => handleMouseOut(e, 'demo')"
    >
      <img src="../imgs/card_1.png" class="card_img" width="660" height="921" />
  </div>
  </div>
</template>
<script>
import _ from 'lodash'

const calStyle = ({ height, width, x, y }) => {
  const px = Math.floor(100 * (1 - x / width)) // x轴左到右的百分比
  const py = Math.floor(100 * (1 - y / height)) // y轴上到下的百分比
  const pa = 100 - px - py // 整体的偏移数值(包含修正值) 左上到右下的偏移

  // 16.666~83.333 让百分比以百分50为基准偏移值缩小
  const lp = 50 + (px - 50) / 1.5
  const tp = 50 + (py - 50) / 1.5

  // 计算对应偏移角度
  const tx = (lp - 50) / 3 // ((lp - 50) / 1.5) * 0.5
  const ty = (50 - py) / 3 // ((tp - 50) / 2) * -1

  const op = Math.abs(pa) * 1.5 + 20

  return {
    transform: `rotateX(${ty}deg) rotateY(${tx}deg)`,
    '--sparkles-opacity': op / 100,
    '--gradient-px': lp,
    '--gradient-py': tp,
  }
}

export default {
  name: 'BaseCard',
  data() {
    return {
      card_1: {},
      card_2: {},
      card_3: {},
      card_4: {},
    }
  },
  created() {
    this.handleMouseMove = _.throttle(this.handleMouseMove, 100, {
      trailing: false,
    })
  },
  methods: {
    handleMouseMove(e, name) {
      const {
        target: { clientHeight: height, clientWidth: width },
        offsetX: x,
        offsetY: y,
      } = e
      const fun = {
        base: () => {
          this.card_1 = calStyle({ height, width, x, y })
        },
        gradient: () => {
          this.card_2 = calStyle({ height, width, x, y })
        },
        sparkles: () => {
          this.card_3 = calStyle({ height, width, x, y })
        },
        demo: () => {
          this.card_4 = calStyle({ height, width, x, y })
        },
      }
      fun[name]()
    },
    handleMouseOut(e, name) {
      const fun = {
        base: () => {
          this.card_1 = {}
        },
        gradient: () => {
          this.card_2 = {}
        },
        sparkles: () => {
          this.card_3 = {}
        },
        demo: () => {
          this.card_4 = {}
        },
      }
      fun[name]()
    },
  },
}
</script>

<style lang="scss" scoped>
@import '../var';

.card-box {
  padding: 20px;
  gap: 20px;
  flex-wrap: wrap;
  .card {
    width: 200px;
    height: 300px;
    background: #000;
    border-radius: 12px;
    border: 2px solid #eee;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    perspective: 2000px;
    position: relative;
    z-index: 1;
    transform: translate3d(0.1px, 0.1px, 0.1px);
    transition: all 0.6s;
    overflow: hidden;
    &:before,
    &:after {
      position: absolute;
      z-index: 1;
      content: '';
      width: 100%;
      height: 100%;
    }
  }
  .card_gradient {
    &:before {
      background-position: calc(var(--gradient-px, 50) * 1%)
        calc(var(--gradient-py, 50) * 1%);
      background-size: 300% 300%;
      background-image: linear-gradient(
        115deg,
        transparent 0%,
        $color_1 25%,
        transparent 47%,
        transparent 53%,
        $color_2 75%,
        transparent 100%
      );
      mask-image: $grain_2;
      opacity: 0.5;
    }
  }
  .card_sparkles {
    background-color: transparent;
    &:after {
      background-image: $sparkles, $sparkles-color;
      background-position: 50% 50%;
      background-size: cover;
      background-blend-mode: overlay;
      filter: brightness(1) contrast(1);
      transition: all 0.33s ease;
      mix-blend-mode: color-dodge;
      opacity: var(--sparkles-opacity, 0.75);
    }
  }
  .card_demo {
    @include grid-card();
    @extend .card_sparkles;
    @extend .card_gradient;
    width: 220px;
    height: auto;
    border-radius: $border-radius;
    .card_img {
      width: 100%;
      height: auto;
    }
    &:before {
      background-image: linear-gradient(-45deg, $color_1, $color_5), $glitter,
        $color_mixin;
      mask-image: $foil;
      mask-size: cover;
      mask-position: center center;
      opacity: calc(var(--sparkles-opacity, 0.4) * .3);

    }
  }
}
</style>
