/* 内外边距 */
$pos: (
  t: top,
  b: bottom,
  l: left,
  r: right,
);
@for $iNum from 0 through 100 {
  @each $key, $value in $pos {
    .m#{$key}-#{$iNum * 2} {
      margin: {
        #{$value}: 2px * $iNum;
      }
    }
    .p#{$key}-#{$iNum * 2} {
      padding: {
        #{$value}: 2px * $iNum;
      }
    }
  }
  .mcol-#{$iNum * 2} {
    margin: {
      top: 2px * $iNum;
      bottom: 2px * $iNum;
    }
  }
  .mrow-#{$iNum * 2} {
    margin: {
      right: 2px * $iNum;
      left: 2px * $iNum;
    }
  }
  .m-#{$iNum * 2} {
    margin: 2px * $iNum;
  }

  .pcol-#{$iNum * 2} {
    padding: {
      top: 2px * $iNum;
      bottom: 2px * $iNum;
    }
  }
  .prow-#{$iNum * 2} {
    padding: {
      right: 2px * $iNum;
      left: 2px * $iNum;
    }
  }
  .p-#{$iNum * 2} {
    padding: 2px * $iNum;
  }
}

/* flex布局 */
$fjs: (
  fs: flex-start,
  fe: flex-end,
  sb: space-between,
  sa: space-around,
  c: center,
);
$ais: (
  fs: flex-start,
  fe: flex-end,
  s: stretch,
  b: baseline,
  c: center,
);
@each $fjsKey, $fjsValue in $fjs {
  @each $aisKey, $aisValue in $ais {
    .f-#{$fjsKey}-#{$aisKey} {
      display: flex;
      justify-content: $fjsValue;
      align-items: $aisValue;
    }
  }
}
.f-col {
  flex-direction: column;
}
.f-row {
  flex-direction: row;
}

@for $i from 1 through 24 {
  .f-#{$i} {
    flex: $i;
  }
}

/* 常用方法 */
.of-a {
  overflow: auto;
}
.normal_hover {
  background-color: #eceeef;
}

.line-1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.line-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.line-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.base-icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

#app {
  .base_popup {
    background: transparent;
    box-sizing: border-box;
    min-height: 236px;
    border-radius: 30px 30px 0 0;
    overflow-y: visible;
  }
}