<template>
  <section class="container">
    <div v-for="item in str" :key="item" class="sg-bg-color">{{ item }}</div>
    <ul class="icon-box">
      <li v-for="(item, index) in list" :key="index" class="icon-item">
        <a class="icon">
          <img class="img" :src="item" />
        </a>
      </li>
    </ul>
  </section>
</template>

<script>
export default {
  name: 'ShinyGlass',
  data() {
    return {
      str: '鸡鸣破晓响九天',
      list: [
        require('./images/1.png'),
        require('./images/2.png'),
        require('./images/3.png'),
      ],
    }
  },
}
</script>

<style lang="scss" scoped>
.container {
  position: relative;
  // margin: 20px;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background-color: #f9f9fa;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #ff4f8b, #dff1ff);
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    z-index: 1;
    // backdrop-filter: blur(5px);
    border-top: 1px solid rgba(255, 255, 255, 0.8);
  }
  .sg-bg-color {
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    filter: blur(150px);
    &:nth-child(1) {
      top: 0;
      background: #ff359f;
      width: 1600px;
      height: 350px;
    }
    &:nth-child(2) {
      bottom: 60px;
      left: 70px;
      background: #05ccd5;
      width: 600px;
      height: 400px;
    }
    &:nth-child(3) {
      bottom: 360px;
      left: 120px;
      background: #60a3c8;
      width: 180px;
      height: 200px;
    }
    &:nth-child(4) {
      bottom: 40px;
      left: 220px;
      background: #f71793;
      width: 680px;
      height: 200px;
    }
    &:nth-child(5) {
      top: 60px;
      left: 420px;
      background: #e4ccfc;
      width: 1080px;
      height: 200px;
    }
    &:nth-child(6) {
      bottom: 0;
      left: 1000px;
      background: #00d2ff;
      width: 600px;
      height: 360px;
    }
    &:nth-child(7) {
      bottom: 80px;
      right: 50px;
      background: #fcc4dc;
      width: 180px;
      height: 200px;
    }
  }
  .icon-box {
    position: relative;
    display: flex;
    z-index: 2;
    .icon-item {
      position: relative;
      list-style: none;
      margin: 10px;
      .icon {
        position: relative;
        width: 80px;
        height: 80px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.4);
        border-right: 1px solid rgba(255, 255, 255, 0.2);
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(2px);
        transition: 0.5s;
        overflow: hidden;
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 50px;
          height: 100%;
          background: rgba(255, 255, 255, 0.5);
          transform: skewX(45deg) translateX(150px);
          transition: 0.5s;
        }
        &:hover {
          transform: translateY(-20px);
          &::before {
            transform: skewX(45deg) translateX(-150px);
          }
        }
        .img {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}
</style>
